In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import LatLon23 as latlon
import re

In [2]:
%matplotlib inline

In [3]:
data = pd.read_csv("global_temp_per_day_per_city_sortred.csv")
data.head()

,dt,City,Latitude,Longitude,AverageTemperature,AverageTemperatureUncertainty
0,1743-11-01,A Coruña,42.59N,8.73W,10.779,1.942
1,1743-11-01,Aachen,50.63N,6.34E,6.425,1.628
2,1743-11-01,Aalborg,57.05N,10.33E,6.068,1.737
3,1743-11-01,Aberdeen,57.05N,1.48W,8.758,1.886
4,1743-11-01,Aix En Provence,44.20N,4.47E,7.478,1.866

In [4]:
temp = re.compile("([a-zA-Z]+)([0-9]+)")
for i, row in data.iterrows():
    lat = temp.match(data.at[i, 'Latitude']).groups()
    #location_i = latlon.string2latlon(data.at[i, 'Latitude'], data.at[i, 'Longitude'], 'D%H') 
    print (lat)

AttributeError: 'NoneType' object has no attribute 'groups'

In [ ]:
dates_list = data['dt'].unique()
dates_list

In [ ]:
day1 = data.loc[data['dt'] == '2013-09-01']
day1

In [ ]:
pd.DataFrame(dates_list).to_csv('dates_list.csv')

In [ ]:
for day in dates_list:
    day_to_save = data.loc[data['dt'] == day]
    day_to_save.to_csv('chunks/global_temp_per_city_{}.csv'.format(day), index=False, header=True)